Incorrect DODAG rejoining.

According to the RFC 6550 section 8.2.2.4:
"A node is allowed to join any DODAG Version that it has never been a
   prior member of without any restrictions, but if the node has been a
   prior member of the DODAG Version, then it must continue to observe
   the rule that it may not advertise a Rank higher than
   L+DAGMaxRankIncrease at any point in the life of the DODAG Version.
   This rule must be observed so as not to create a loophole that would
   allow the node to effectively increment its Rank all the way to
   INFINITE_RANK, which may have impact on other nodes and create a
   resource-wasting count-to-infinity scenario."

However, the described scenario is happening in the RPL-Lite, because a node resets its instance and joins any DODAG as soon as it receives a DIO from that DODAG while its instance is marked as not used.